
.container{
    background-color:#660066;
       width: 100%;
   }

   #imageBtns{
       margin-left: 10px;
       
   }
   #imageArea{
       margin-top: 30px;
   }

   img{
    height: 200px;
    width: 200px;
    padding: 10px;
    margin-left:10px;
      
   }

   .ratingClass{
       color: white;
       margin-left:20px;
   }
   #form-label{
       color:white;

   }

   .btnClass{
    padding:0px 20px 5px 20px;
    background-color:#f99ff9;
    margin-right: 5px;
    }